.breadcrumbs {
    padding-left: 25px;
    
    @include breakpoint($phone) {
        padding-left: 0;
    }

    max-width: $layoutw;
    margin: 0 auto;
    margin-bottom: 20px;

    &_list {
        border-bottom: 1px solid $yellow;
        max-width: 314px;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 20px 20px 15px 0;

        &--item {
            margin-right: 35px;
            font-family: $font;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.02em;
            color: $breadcrumb;
            display: flex;
            align-items: center;
            cursor: pointer;
            &_text {
                transition: color .2s;
                color: $breadcrumb;
                &:hover {
                    text-decoration: none;
                    color: $black;
                }
            }

            &:after {
                content: '';
                background-image: url($path + '/icons/arrow_right.svg');
                height: 10px;
                width: 4px;
                display: block;
                @include bg(contain, center);
                margin-left: 5px;
            }
        }
    }
}