.menu {
  width: 100%;
  background-color: #fdd935;
  height: 50px;

  &_wrapper {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    @include flex(center, flex-start, wrap);
    position: relative;

    @include breakpoint($phone) {
      width: $layoutw;
    }

    &-item {
      display: none;

      @media screen and (max-width: 414px) {
        &:last-child {
          display: block;
          .menu_wrapper-item_cart {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translate(0, -50%);

            a {
              .menu_wrapper-item_cart_value {
                display: none;
              }
            }
          }
        }
      }

      &:nth-child(2) {
        @media screen and (max-width: 414px) {
          display: block;
          width: 83%;
          padding-top: 4px;
          
          .menu_wrapper-item_search {
            margin-left: 10px;
            width: 85%;
            font-size: 12px;
            padding-bottom: 4px;

            @media screen and(min-width: 350px) {
              width: 88%;
            }
            @media screen and(min-width: 350px) {
              width: 90%;
            }
            @media screen and(min-width: 400px) {
              width: 93.5%;
            }

            .menu_wrapper-item_search_input {
              max-width: 100%;
              overflow: hidden;
              border-radius: 30px;
            }
          }
          .menu_wrapper-item_search_button {
            position: absolute;
            top: 0;
            right: 0;
            max-width: 34px;
          }
        }
      }

      &:first-child {
        display: flex;
        margin-left: 10px;

        .menu_wrapper-item_menuText {
          display: none;
        }
      }

      @include breakpoint($phone) {
        @include flex(center, space-between, wrap);
        position: relative;
        &:first-child {
          .menu_wrapper-item_menuText {
            display: block;
          }
        }
      }

      &-main_menu {
        position: absolute;
        z-index: 9999;
        list-style: none;
        padding: 0;
        left: -10px;
        top: -.2rem;
        width: 200px;
        overflow: hidden;
        display: none;
        transition: visibility 0.2s;

        &-item {
          background-color: #fff;
          transition: background-color 0.2s;

          a {
            text-decoration: none;
            color: $dblack;
          }
          &:hover {
            background-color: $black;

            .menu_wrapper-item-main_menu-item-text:after {
              border: none;
            }
            span {
              color: #fff;
            }
            span {
              a {
                color: #fff;
              }
            }
          }

          &-text {
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 9999;
            font-family: $font;
            font-weight: 300;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.02em;
            padding: 12.5px;
            color: $dblack;
            border-bottom: 1px solid $light_gray;

            &_secondary {
              background: #fff;
              color: black;
              position: absolute;
              list-style: none;
              padding: 0;
              z-index: 99;
              display: none;
              width: 130px;
              top: 13.8rem;
              right: -10.65rem;
              font-weight: 300;

              &-text {
                padding: 12.5px;
                color: #000;
                position: relative;
                border-bottom: 1px solid $light_gray;

                &:hover {
                  background-color: $black;
                  color: #fff;
                }
              }
            }
          }

          &-overlay {
            background: transparent;
            height: 24.1px;
          }
        }
      }

      &_cart {
        a {
          @include flex(center, space-between, wrap);
          &:hover {
            text-decoration: none;
          }
        }

        &_icon {
          width: 31px;
          height: 31px;
          background-image: url($path + "/menu/cart.svg");
          margin-left: 20px;
          cursor: pointer;
          position: relative;

          &-amount {
            color: #fff;
            z-index: 99;
            left: 61%;
            top: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
          }
          &:after {
            content: "";
            width: 23px;
            height: 23px;
            position: absolute;
            background: #d935fd;
            border-radius: 50%;
            @include absCenter();
            margin-left: 4px;
            top: 15px;
          }
        }
        &_value {
          font-weight: 600;
          font-size: 18px;
          line-height: 14px;
          letter-spacing: 0.02em;
          text-transform: capitalize;
          margin-left: 20px;
          color: #3559fd;
        }
        &_currency {
          background-image: url($path + "/menu/rub.svg");
          @include bg(contain, center);
          margin: 8px 0 0 3px;
          height: 10px;
          width: 8px;
        }
      }
      &_personal {
        @include flex(center, space-between, wrap);
        margin-left: 15px;
        cursor: pointer;

        &_icon {
          width: 24px;
          height: 18px;
          background-image: url($path + "/menu/login.svg");
        }
        &_text {
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.02em;
          color: $dblack;
          margin-left: 5px;

          &:after {
            content: "|";
            color: #40404c;
            margin-left: 35px;
          }
        }
      }
      &_tracking {
        @include flex(center, space-between, wrap);
        margin-left: 30px;
        cursor: pointer;

        &_icon {
          background-image: url($path + "/menu/tracking.svg");
          width: 24px;
          height: 14.86px;
          @include bg(contain, center);
        }
        &_text {
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.02em;
          color: $dblack;
          margin-left: 10px;
        }
      }
      &_search {
        @include flex(center, space-between, wrap);
        position: relative;

        &_input {
          input {
            padding-left: 10px;
            width: 500px;
            height: 30px;
            border-radius: 38px;
            border: none;
            outline: none;
            font-size: 12px;
            -webkit-appearance: none;
            position: relative;
            font-size: 12px;

            @include breakpoint($medium) {
              padding-left: 30px;
              font-size: 12px;
            }

            &::placeholder {
              font-style: normal;
              font-weight: normal;
              letter-spacing: 0.02em;
              opacity: 0.5;
              padding-bottom: 20px;
            }
          }
        }
        &_button {
          width: 40px;
          position: absolute;
          right: 0;
          height: 100%;
          background: #40404c;
          border-top-right-radius: 50px;
          border-bottom-right-radius: 50px;
          color: #fff;
          cursor: pointer;
          max-height: 30px;
          
          @include breakpoint($phone) {
            width: 70px;
          }
          &:after {
            content: "";
            background-image: url($path + "/menu/zoomin.svg");
            height: 15px;
            width: 15px;
            cursor: pointer;
            @include absCenter();
          }
        }
      }

      &_hamburger {
        background-image: url($path + "/menu/hamburger.svg");

        @media screen and(max-width: $last_phone) {
          background-image: url($path + "/menu/hamburger2.svg");
        }

        @include bg(contain, center);
        height: 15px;
        width: 15px;
        cursor: pointer;
      }
      &_menuText {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;
        color: $dblack;
        margin-left: 10px;
        cursor: pointer;
        width: 125px;

        &:hover {
          .menu_wrapper-item-main_menu {
            z-index: 9999;
            display: block;
            color: black;
          }
        }
      }
    }
  }
}
